.element__button-delete {
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/element-delete.svg);
  width: 18px;
  height: 19px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity .4s;
  display: none;
}

.element__button-delete:hover {
  opacity: .6;
}