.sign__in {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity .4s;
}

.sign__in:hover {
  opacity: 0.85;
}
